.lineChart {
    stroke-width: 0.12rem;
    fill: rgba(218, 240, 236, 0.225);
    stroke: #66c4ae
}


.cricle {
    fill: #66c4ae
}

.cricle:hover {
    fill: rgb(247, 155, 155);
}

.button {
    margin-left: 10px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.308);

}

.button:hover {
    background-color: rgba(105, 99, 99, 0.197);
}