body {
    margin: 0;
    overflow: visible;
}

pre {
    font-size: 7em;
}

.sphere {
    fill: #f3f3f3;

}

.main {
    fill: cadetblue;
    stroke: aliceblue;
}

.main:hover {
    fill: rgb(247, 155, 155);
}

div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #d93131;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}